/* Prevent listboxes from using white background */
list {
	background-color: transparent;
}

box.editor-text-box {
    background-color: white;
    border: none;
}

.editor-text-box > scrolledwindow {
    border: none;
}

.note-search-entry {
    border-radius: 4px;
    margin: 3px;
    padding: 3px;
}

.title-text-entry {
	padding: 6px;
	margin-left: -6px;
	border-radius: 4px;
	font-size: 22pt;
	font-weight: bold;
}

/* The standard list header style */
.list-header {
    color: grey;
    font-weight: bold;
}
