box.editor-text-box {
    background-color: white;
    border: none;
}

.editor-text-box > scrolledwindow {
    border: none;
}

.note-search-entry {
    border-radius: 4px;
    margin: 3px;
    padding: 3px;
}
